<!DOCTYPE html>
<html>
<head>
<body>
<h1 style="text-align:center;"><b>Welcome to my about page</b></h1>
<%#= image_tag 'my_image_new.jpg'  %>
<img src="/my_image.jpg" alt="Trulli" width="100%" height="100">
<div>
  <hr>
</div>
<div>
<pre style = "color:blue;display: inline-block; text-align: center;width: 650px; vertical-align: bottom;">
This is a paragraph for my home page
THis ia Alkaff.
Age 34.
Gender male
</pre>
  <hr style="width: 3px;display: inline-block; height: 100px; background: black; border: none; vertical-align: bottom;" />
  <pre style = "color:blue;display: inline-block; text-align: center;width:500px; vertical-align: bottom;">
This is a paragraph for my home page.
This is Aakifah.
Age 9.
Gender Female
</pre>
</div>
<footer style="text-align: center; background-color:#777;color: white;">
  <p>My Footer</p>
</footer>
</body>
</head>
</html>
<%=link_to 'Home', root_path %>